.updatepassword-modal {
  .ant-modal-content {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(209, 213, 219, 0.4);
    .ant-modal-header {
      background-color: transparent;
      .ant-modal-title {
        text-align: center;
        font-size: 18px;
      }
    }
    .ant-modal-body {
      .updatepassword-form {
        .updatepassword-input {
          border: 1px solid rgba($color: #4096ff, $alpha: 0.7);
          background-color: transparent;
        }
        .ant-input {
          background-color: transparent;
        }
        .verify-code-button {
          border: 1px solid rgba($color: #000000, $alpha: 0.5);
          background-color: transparent;
          &:hover {
            border: 1px solid rgba($color: #4096ff, $alpha: 0.7);
          }
          &:disabled {
            color: #000;
          }
        }
        .updatepassword-form-options {
          display: flex;
          .updatepassword-form-button,
          .cancelupdate-form-button {
            width: 100%;
          }
          .updatepassword-form-button {
            margin-left: 6px;
          }
          .cancelupdate-form-button {
            background-color: transparent;
            margin-right: 6px;
            border: 1px solid rgba($color: #000000, $alpha: 0.5);
            &:hover {
              border: 1px solid rgba($color: #4096ff, $alpha: 0.7);
            }
          }
        }
      }
    }
  }
}
.nickname-avatar-dropdown {
  .nickname-dropdown-menu,
  .ant-dropdown-arrow::before {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(209, 213, 219, 0.4);
  }
}
