.login-modal {
  .ant-modal-content {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border: 1px solid rgba(209, 213, 219, 0.4);
    .ant-modal-header {
      background-color: transparent;
      .ant-modal-title {
        text-align: center;
        font-size: 22px;
      }
    }
    .ant-modal-body {
      .login-form {
        .user-login-input,
        .ant-input-affix-wrapper {
          border: 1px solid rgba($color: #4096ff, $alpha: 0.7);
          background-color: transparent;
        }
        .ant-input {
          background-color: transparent;
        }

        // .form-vertify-code {
        //   .ant-form-item-control-input-content {
        //     display: flex;
        //     .verity-code-area {
        //       width: 166px;
        //       height: 40px;
        //       margin-left: 4px;
        //       cursor: pointer;
        //       border-radius: 10px;
        //       overflow: hidden;
        //     }
        //   }
        // }
        .login-form-button {
          width: 100%;
        }
      }
    }
  }
}
