@import "~normalize.css";

/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

/* a:hover {
  color: #666;
  text-decoration: underline;
} */

i,
em {
  font-style: normal;
}

input,
textarea,
button,
select,
a {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: middle;
}

/* 全局样式 */
body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}

body::-webkit-scrollbar {
  width: 0;
}

html::-webkit-scrollbar {
  width: 0;
}

/* 只在一行内显示, 超出显示... */
.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 版心1 */
.wrap-v1 {
  width: 980px;
  margin: 0 auto;
}

/* 版心2 */
.wrap-v2 {
  width: 1100px;
  min-width: 420px;
  margin: 0 auto;
}

span:hover.link {
  text-decoration: underline;
  cursor: pointer;
}

#global-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}
